* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Header Section */

header .brand-big-link {
	color: #000;
	font-size: 36px;
	font-weight: 700;
}

header .brand-big {
	margin-left: 5rem !important;
}

header .sub-brand {
	display: block;
	margin-top: -15px;
	font-weight: 600;
	margin-left: 5rem !important;
}

header ul .nav-link {
	color: #fff !important;
	transition: 0.3s;
	font-weight: 600;
}

header ul li.nav-item {
	padding: 0.4rem 0.4rem;
	transition: 0.3s;
}

header ul li.nav-item:hover {
	background-color: #0099ff !important;
}

header .navbar {
	padding: 0;
}

header ul.drop-1 {
	top: 95% !important;
	border: none;
	border-radius: 0px !important;
}

header ul.drop-2 {
	/* top: 95% !important; */
	border: none;
	border-radius: 0px !important;
}

.dropdown:hover > .dropdown-menu,
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

.dropdown > .dropdown-toggle:active {
	pointer-events: none;
}

.dropdown-menu .dropdown-item {
	color: #fff !important;
	transition: 0.3s;
}

.dropdown-menu .dropdown-item:hover {
	background-color: #0099ff !important;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-item:focus {
	background-color: #0099ff;
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -1px;
	transition: 0.3s;
}

/* Carousel / Slider */
.carousel-caption {
	right: 30% !important;
	left: 5% !important;
	padding: 15px 15px 15px 15px !important;
	text-align: justify !important;
	background-color: rgba(65, 65, 65, 0.6);
}

.carousel-caption h5 {
	font-size: 25px;
	font-weight: 600;
}

.carousel-caption span {
	font-size: 15px;
}

.content .col-4,
.content .col-8 {
	padding: 10px 10px 10px 10px;
}

.content .artikel {
	background-color: #d0d0d0;
	border: 1px solid transparent;
	border-radius: 5px;
	margin-right: 0;
}

.img-content {
	width: 100%;
}

.content .head-artikel {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.2rem;
	margin-bottom: 0;
}

.content i,
.content span,
.content .ringkasan {
	font-size: 0.9rem;
	/* margin-top: -5px; */
}

.content .ringkasan {
	margin-top: 5px;
	margin-bottom: 14px;
}

.content .btn {
	padding: 0.3rem 0.5rem;
}

@media (min-width: 576px) {
	.dropdown-submenu .dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -1px;
		transition: 0.3s;
	}
}
